.notification-main-container{
    width: 20em;
    height: 5em;

    position: fixed;
    top: 3em;
    right: 0em;
    z-index: 100;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    padding: 0.3em 1em 0.8em 1em;
    border-top: 2px solid #36393f;
    border-left: 2px solid #36393f;
    border-bottom: 2px solid #36393f;
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    background-color: #2F3136;
}
.notification-main-container-show{
    animation: notification-show-animation normal ease 0.5s;

}
.notification-main-container-hidden{
    animation: notification-show-animation reverse ease forwards 0.3s;
}

@keyframes notification-show-animation{
    from{
        right: -25em;
    }
    to{
        right: 0em;
    }
}

.notification-header-container{
    display: flex;
    justify-content: space-between;
    color: lightgray;
    font-weight: bold;

}
.notification-header-close-btn{
    cursor: pointer;
}
.notification-content-container{
    display: flex;
}
.notification-content-img{
    min-width: 3em;
    min-height: 3em;
    width: 3em;
    height: 3em;
    border-radius: 3em;
    overflow: hidden;
    margin-right: 1em;
}
.notification-content-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.notification-content-text{
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    font-size: small;
    color: lightgray;
}
.notification-content-text span{
    font-weight: bold;
    color: #5865f2;
}