.friendsMainContainer{
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: start;
}
.friendsListContainer{
    width: 40%;
    background: #2f3136;
    padding: 1.5em;
    border-radius: 0.5em;
    margin-left: 1em;
    display: flex;
    flex-direction: column;
}
.friends-possible-listcontainer{
    width: auto;
    max-width: 20%;
    background: #2f3136;
    padding: 1.5em;
    border-radius: 0.5em;
    margin-left: 1em;
}

.friends-navigation-item-container{
    display: flex;
}
.friends-navigation-item{
    margin-bottom: 0.5em;
    color: lightgray;
    border-radius: 10em;
    padding: 0.1em 0.5em 0.1em 0.5em;
    cursor: pointer;
    font-size: medium;
    display: flex;
    align-items: center;

}
.friends-navigation-item:hover{
    color: aliceblue;
}

.friends-navigation-item-selected{
    color:#5865f2;
}
.friends-navigation-item-selected:hover{
    color:#535edd;
}

.friends-common-container-item{
    background-color: #36393F;
    display: flex;
    margin-bottom: 0.5em;
    padding: 0.5em;
    align-items: center;
    overflow: hidden;
}
.friends-common-container-item:first-of-type{
    margin-top: 1em;
}


/* FriendComponent */

.friendComponentAvatarContainer{
    width: 3em;
    height: 3em;
    min-height: 3em;
    min-width: 3em;
    display: flex;
    align-items: center;
    justify-items: center;
    border-radius: 4em;
    overflow: hidden;
    margin-right: 1em;
    background-color: rebeccapurple;
}
.friendComponentAvatarContainer img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.friendComponentLabelContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    align-items: start;
}
.friendComponentLabelName{
    width: 100%;
    font-weight: bold;
    color: lightgray;

    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.friendComponentLabelStatus{
    white-space: nowrap;
    color: lightgray;
}

.friendComponentButtonDelete{
    margin-left: 0.5em;
    border: 1px solid #909090;
    padding: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.friendComponentButtonDelete img{
    content: url("../images/friends/delete.svg");
    height: 100%;
}
.friendComponentButtonDelete:hover{
   background-color: #909090;    
}
.friendComponentButtonDelete:hover img{
    content: url("../images/friends/deleteHover.svg");

}

/*end FriendComponent */


/* FriendPossibleComponent */
.friendPossibleComponentContainer{
    display: flex;
    margin-bottom: 0.5em;
    padding: 0.5em;
    align-items: center;

}
.friend-possible-component-item-label{
    color: lightgray;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.friend-possible-component-item-add-button{
    white-space: nowrap;
}
.friend-possible-component-invite-status{
    font-size: small;
    margin: 0;
    padding: 0;
}
/*end FriendPossibleComponent */


/* RelationshipRequestComponent */
.relationship-request-component-date{
    font-size: small;
}
.relationship-request-item-label-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    align-items: start;
}
.relationship-request-component-button-cansel{
    margin-left: 0.5em;
    border: 1px solid #909090;
    padding: 0.5em;
    background-color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.relationship-request-component-button-cansel img{
    content: url("../images/friends/cross.svg");
    width:90%;
    transition: transform 500ms ease;

}
.relationship-request-component-button-cansel:hover{
    background-color: #909090;    
}
.relationship-request-component-button-cansel:hover img{
    content: url("../images/friends/crossHover.svg");
    transform: rotate(180deg);
}


/* end RelationshipRequestComponent */


/* PeopleSearch */
.people-search-list-component-main-container{
    display: flex;
    flex-direction: column;
}
.people-search-list-component-input{
    margin-top: 2em;
}
.people-search-list-component-not-found-label{
    margin-top: 2em;
    text-align: center;
    color: lightgray;
}

.people-search-self-user-label{
    white-space: nowrap;
    margin-right: 1em;
    font-size: small;
}
/* end PeopleSearch */