.loadingIcon{
    margin: 0 auto 0 auto ;
    width: 15em;
    content: url("https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/React-icon.svg/640px-React-icon.svg.png");
    animation: rotating 5s linear infinite;
}

@keyframes rotating {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}