@import url('https://fonts.googleapis.com/css?family=Inter:400,700');

.gorup-chat-main-panel {
    position: relative;
    width: 535px;
    min-height: 800px;
    margin-top: 10px;

    /* Gray/3 */

    background: #2F3136;
    border-radius: 12px;
}

.gorup-chat-main-panel-modal {
    position: relative;
    width: 535px;
    margin-top: 10px;

    /* Gray/3 */

    background: #2F3136;
    border-radius: 12px;
}

.friends-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    position: relative;
    width: 505px;
    height: 80%;
    left: 15px;
}

.single-friend-row {
    width: 505px;
    height: 50px;
    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.group-chat-row-group-frame {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 13px;

    position: relative;
    width: 477px;
    height: 50px;
}

.group-chat-friend-row-user-image-container {
    width: 45px;
    height: 45px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.group-chat-friend-row-user-image {
    position: absolute;
    width: 45px;
    height: 45px;
    left: 0px;
    top: 0px;
    object-fit: cover;

    border-radius: 50%;
}

.group-chat-friend-row-user-info-group {
    /* Auto layout */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    width: 403px;
    height: 45px;
}

.group-chat-friend-row-user-name {
    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    height: 22px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.group-chat-friend-row-user-name-text {
    height: 22px;

    /* Paragraf/2 */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height */


    /* White */

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.group-chat-friends-horizontal-line {
    position: relative;
    width: 100%;
    height: 0px;

    /* Gray/1 */

    border: 1px solid #36393F;
}

.group-chat-friend-checkbox:checked {
    width: 20px;
    height: 20px;
    background-image: url("../../images/chat/activeCheckbox.png");
}

.group-chat-friend-checkbox {
    width: 20px;
    height: 20px;
    background-image: url("../../images/chat/unactiveCheckbox.png");
}

.selected-friends-row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    width: 489px;
    margin-bottom: 10px;
    margin-top: 5px;
    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin-left: 15px;
}

.selected-friend-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 12px;
    gap: 4px;

    height: 25px;

    /* Purple/3 */

    background: #39456C;
    border-radius: 23px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.selected-friend-row-user-name-text {
    height: 22px;

    /* Paragraf/2 */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 22px;
    /* identical to box height */


    /* White */

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.group-chat-create-input-row {
    position: absolute;
    width: 535px;
    height: 56px;
    left: 0px;
    bottom: 0px;

    /* Gray/2 */

    background: #202225;
    border-radius: 0px 0px 12px 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.group-chat-create-input {
    width: 380px;
    height: 24px;
    left: 56px;
    top: 5px;

    margin-left: 15px;

    /* Paragraf/1 */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 153.02%;
    /* or 24px */


    /* Gray/4 */

    color: #919191;
    background: #202225;
}

.create-group-chat-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 11px 17px;
    gap: 10px;

    width: 120px;
    height: 30px;
    left: 388px;
    top: 893px;

    /* Purple/1 */

    background: #39456C;
    border-radius: 38px;

    /* Edit profile */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 153.02%;
    /* or 24px */

    text-align: center;

    /* White */

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;

    margin-right: 10px;
}

.edit-group-chat-modal {
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: none;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1001;
}

.edit-group-chat-modal.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-group-chat-modal-content {

    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;
    background: #2F3136;
    border-radius: 15px;
    min-width: 300px;
}


.group-chat-info-info-group-frame {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;
    gap: 13px;

    position: relative;
    width: 477px;
}

.group-chat-update-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding: 11px 17px;
    gap: 10px;

    width: 120px;
    height: 30px;
    position: relative;
    float: right;

    /* Purple/1 */

    background: #39456C;
    border-radius: 38px;

    /* Edit profile */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 153.02%;
    /* or 24px */

    text-align: center;

    /* White */

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;

    margin-top: 25px;
}

.group-chat-user-admin-info {
    height: 15px;

    /* Paragraf/2 */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 11px;
    line-height: 15px;
    /* identical to box height */


    /* White */

    color: #5865F2;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.group-chat-set-admin-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding: 11px 17px;
    gap: 10px;

    width: 80px;
    height: 20px;
    position: relative;
    float: right;

    /* Purple/1 */

    background: #39456C;
    border-radius: 38px;

    /* Edit profile */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 153.02%;
    /* or 24px */

    text-align: center;

    /* White */

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;

    margin-top: 0px;
}

.group-chat-button-change-image{
    transition: opacity 0.3s;
}
.group-chat-button-change-image:hover{
    opacity: 0.8;
    cursor: pointer;
}