.loginPageButtonSignInContainer{
    margin:2em 0 1em 0;
    display: flex;
    justify-content: end;
}

.loginPageRegistrationButton{
    text-align: end;
    margin-right: 1em;
    margin-bottom: 2em;
}

@media screen and (max-width:799px) {
    .loginPageButtonSignInContainer{
        flex-direction: column-reverse;
    }
    .loginPageButtonSignInContainer button{
        width: 100%;
        margin:0;
    }
    .loginPageButtonSignInContainer a{
        margin-top: 1em;
    }
}