.uploader-file-input{
    display: none;
}
.uploader-file-icon{
    width: 2em;
    height: 2em;
    border-radius: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}