.navigation-main-container{
    position: sticky;
    top: 4em;
}
.navigation-item-container{
    margin-bottom: 0.5em;
    color: lightgray;
    border-radius: 10em;
    padding: 0.1em 0.5em 0.1em 0.5em;
    cursor: pointer;
    font-size: medium;
    display: flex;
    align-items: center;

}
.navigation-item-container:hover{
    color: aliceblue;
}
.navigation-item-container img{
    width: 1.3em;
    height: 1.3em;
    margin-right: 0.5em;
}
.navigation-item-container-selected{
    color:#5865f2;
}
.navigation-item-container-selected:hover{
    color:#535edd;
}

.navigation-item-icon-profile{
    content: url("../../images/navigation/profile.svg");
}
.navigation-item-icon-friends{
    content: url("../../images/navigation/friends.svg");
}

.navigation-item-icon-messenger{
    content: url("../../images/navigation/message.svg");
}
.navigation-item-icon-news{
    content: url("../../images/navigation/news.svg");
}