.registrationPageButtonContainer{
    margin:2em 0 1em 0;
    display: flex;
    justify-content: end;
    
}

@media screen and (max-width:799px) {
    .registrationPageButtonContainer button{
        width: 100%;
        margin:0;
    } 
 }
