.header-frame {
    position: sticky;
    width: 100%;
    height: 3em;
    left: 0px;
    top: 0px;
    z-index: 1;
}

.header-main-panel {
    width: 100%;
    height: 100%;
    display: flex;
    
    justify-content: space-around;
    align-items: center;
    background: #202225;
    overflow: hidden;
}

.header-title {
    margin: 0;
    font-size: 1.5em;
}
.header-buttons-container{
    display: flex;
}
.header-button-logout{
    padding: 0.5em;
    display: flex;
    align-items: center;
    color: lightgray;
    cursor: pointer;
}
.header-button-logout:hover{
    background-color: #36393f;
    color: white;
}
.header-user-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
    color: lightgray;
}

.header-user-container:hover{
    background-color: #36393f;
    color: white;
}

.header-user-img-container{
    width: 2em;
    height: 2em;
    border-radius: 2em;
    overflow: hidden;
    
    margin-right: 1em;
}
.header-user-img-container>img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}