@import url('https://fonts.googleapis.com/css?family=Inter:400,700');

.single-chat-main-container {
    position: relative;
    justify-content: center;
    width: 535px;
    height: 850px;
    margin-top: 10px;

    background: #2F3136;
    border-radius: 12px;
}

.single-chat-info-row {
    display: flex;
    align-items: center;
    padding: 0px;
    gap: 37px;

    position: relative;
    width: 100%;
    height: 35px;
    margin-top: 15px;
    margin-left: 25px;
}

.single-chat-user-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 14px;
    align-content: end;

    width: 196px;
    height: 35px;


    /* Inside auto layout */

    flex: none;
    order: 4;
    flex-grow: 0;

    position: relative;
    
    margin-left: auto;
    margin-right: 0;
}

.single-chat-user-img {
    width: 35px;
    height: 35px;
    object-fit: cover;

    border-radius: 50%;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.single-chat-user-name {
    width: 147px;
    height: 24px;

    /* Paragraf/1 */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 153.02%;
    /* or 24px */


    /* Purple/1 */

    color: #5865F2;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;

    cursor: pointer;
}

.single-chat-all-chat-link {
    width: 65px;
    height: 24px;

    /* Paragraf/1 */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 153.02%;
    /* or 24px */


    /* White */

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.single-chat-info-row-line1 {
    width: 15px;
    height: 0px;

    /* Purple/2 */

    border: 1px solid #98ACCF;
    transform: rotate(90deg);

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.single-chat-unread-link {
    width: 56px;
    height: 24px;

    /* Paragraf/1 */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 153.02%;
    /* or 24px */


    /* White */

    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}

.single-chat-info-row-line2 {
    width: 15px;
    height: 0px;

    /* Purple/2 */

    border: 1px solid #98ACCF;
    transform: rotate(90deg);

    /* Inside auto layout */

    flex: none;
    order: 3;
    flex-grow: 0;
}

.single-chat-horizontal-line {
    position: relative;
    width: 100%;
    height: 0px;
    margin-top: 10px;

    /* Gray/1 */

    border: 1px solid #36393F;
}

.single-chat-messages-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 0px;
    gap: 20px;
    width: 100%;
    max-height: 87%;
    min-height: 100px;
    overflow-y: auto;
    position: relative;
}

.single-chat-messages-container::-webkit-scrollbar {
    width: 0;
  }

.single-chat-message-input-row {
    position: absolute;
    width: 535px;
    height: 56px;
    left: 0px;
    bottom: 0px;

    /* Gray/2 */

    background: #202225;
    border-radius: 0px 0px 12px 12px;
}

.single-chat-message-input {
    position: absolute;
    width: 300px;
    height: 24px;
    left: 56px;
    top: 5px;

    /* Paragraf/1 */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 153.02%;
    /* or 24px */


    /* Gray/4 */

    color: #919191;
    background: #202225;
}

.single-chat-message-row-owner {
    min-width: 70px;
    min-height: 35px;
    max-width: 70%;
    max-height: 70%;
    box-sizing: border-box;


    /* Inside auto layout */

    display: flex;
    order: 0;
    flex-grow: 0;

    background: #39456C;

    border-radius: 10px;

    align-items: center;

    margin-left: auto;
    margin-right: 5px;
    overflow: hidden;
    position: relative;
    flex-grow: 0;
    flex-shrink: 0;
}

.single-chat-message-row-companion {
    min-width: 70px;
    min-height: 35px;
    max-width: 70%;
    max-height: 70%;
    box-sizing: border-box;


    /* Inside auto layout */

    display: flex;
    order: 0;
    flex-grow: 0;

    background: #36393F;

    border-radius: 10px;

    align-items: center;

    margin-left: 5px;
    margin-right: auto;
    position: relative;
    flex-grow: 0;
    flex-shrink: 0;
}

.single-chat-message-row-companion-group {
    min-width: 70px;
    min-height: 35px;
    box-sizing: border-box;


    /* Inside auto layout */

    display: flex;
    order: 0;
    flex-grow: 0;

    background: #36393F;

    border-radius: 10px;

    align-items: center;

    margin-left: 0;
    margin-right: auto;
    position: relative;
    flex-grow: 0;
    flex-shrink: 0;
}

.single-chat-message-row-companion-group-container {
    min-width: 70px;
    min-height: 35px;
    max-width: 70%;
    max-height: 70%;
    box-sizing: border-box;


    /* Inside auto layout */

    display: flex;
    flex-direction: row;
    order: 0;
    flex-grow: 0;

    align-items: center;

    margin-left: 25px;
    margin-right: auto;
    position: relative;
    flex-grow: 0;
    flex-shrink: 0;
}

.single-chat-message-text {
    /* Caption/1 */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 144.52%;
    /* or 20px */


    /* White */

    color: #FFFFFF;

    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.single-chat-message-time {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 144.52%;
    /* or 17px */


    /* Gray/4 */

    color: #919191;

    padding-left: 15px;
    padding-right: 5px;
    margin-top: auto;
    margin-bottom: 5px;
}

.single-chat-message-check-mark {
    /* Gray/4 */

    color: #919191;

    padding-right: 5px;
    padding-right: 5px;
    margin-top: auto;
}

.single-chat-message-date-delimeter {
    /* Gray/4 */

    color: #FFFFFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;

    margin-top: auto;
}

.single-chat-group-message-user-name {
    height: 24px;

    /* Paragraf/1 */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 153.02%;
    margin-left: 10px;
    margin-right: 10px;
    /* or 24px */


    /* Purple/1 */

    color: #5865F2;


    /* Inside auto layout */

    flex: none;
    flex-grow: 0;
}