body {
  margin: 0;
  padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body::-webkit-scrollbar {
  cursor: pointer;
  width: 16px;
}
body::-webkit-scrollbar-track {
  background: #2f3136;
  border: 4px solid #36393f;
  cursor: pointer;
}
body::-webkit-scrollbar-thumb {
  background-color: lightgray;
  border: 3px solid #2f3136;
  border-radius: 5px;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input{
  background-color: #36393f;
  border: 0;
  border-radius: 3px;
  color: lightgray;
  outline: 0;
  padding: 0.5em;
  width: calc(100% - 1em);
}
textarea{
  background-color: #36393f;
  border: 0;
  border-radius: 3px;
  color: lightgray;
  outline: 0;
  padding: 0.5em;

}

textarea::-webkit-scrollbar {
  cursor: pointer;
  width: 16px;
}
textarea::-webkit-scrollbar-track {
  background: #2f3136;
  border: 4px solid #36393f;
  cursor: pointer;
}
textarea::-webkit-scrollbar-thumb {
  background-color: lightgray;
  border: 3px solid #2f3136;
  border-radius: 5px;
}

button{
  cursor: pointer;
  color: lightgray;
  background-color: #5865f2;
  font-size: small;
  border: 0;
  border-radius: 20em;
  padding: 0.4em 1.5em 0.4em 1.5em;
  margin: 0 1em 0 1em;
  transition: transform 200ms ease;
  white-space: nowrap;
}
button:hover{
  background-color: #535edd;
}
button:active{
  transform: scale(0.97);
  background-color: #4954c3;
}
label{
  color: lightgray;
}

.button-inherit{
  margin: 0;
  border: 1px solid #5865f2;
  background-color: inherit; 
}


/* button-simple */
.button-simple{
  margin: 0;
  padding: 0;
  background-color: inherit;
  overflow: hidden;
  color: #5865f2;
}
.button-simple:hover{
  background-color: inherit;
  color: #535edd;
}
.button-simple:active{
  background-color: inherit;
  color: #4954c3;
}
/* end button-simple */


a{
  text-decoration: none;
  color: #5865f2;
}

h1{
  color: lightgray;
}
h2{
  color: lightgray;
}
h3{
  color: lightgray;
}

li{
  color: lightgray;
}


.common-background{
  background-color: #36393f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}
.common-background-content-page{
  background-color: #36393f;
  display: flex;
  flex-direction: column;
  justify-content: start;
  min-height: 100vh;
}

.common-content-container{
  background-color: #2f3136;
  border-radius: 0.5em;
  display: flex;
  flex-direction: column; 
}
.common-content-page-container{
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: start;
}



/* INPUT CONTAINER */
.common-input-container{
  width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}
.common-input-container:last-of-type{
    color: red;
}
.common-input-container>input{
    margin-top: 0.5em;
}
.common-input-container>textarea{
    margin-top: 0.5em;
    resize: none;
    height: 6em;
}
.common-input-container>label{
    color: gray;
    font-size: small;
    margin-left: 0.5em;
}

.common-header-word-text-color{
  color: #5865f2;
}

@media screen and (min-width:800px) {
  .common-content-container{
    width: 30em;
    padding: 2em;
  }
  .common-background{
      align-items: center;
  }
  .common-background-content-page{
      align-items: center;
  }
}
@media screen and (max-width:799px) {
  .common-content-container{
    padding: 0 1em 0 1em;
    min-height: 100vh;
  }
}

.main-div {
  position: absolute;
  width: 100%;
  height: 100%;

  /* Gray/1 */

  background: #36393F;

  justify-content: center;
  display: flex;
}