@import url('https://fonts.googleapis.com/css?family=Inter:400,700');

.chats-main-panel {
  position: relative;
  width: 535px;
  min-height: 800px;
  top: 10px;

  /* Gray/3 */

  background: #2F3136;
  border-radius: 12px;
}

.chats-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;

  position: relative;
  width: 505px;
  height: 80%;
  left: 15px;
  margin-bottom: 15px;
}

.single-chat-row {
  width: 505px;
  height: 91px;

  /* Gray/1 */

  background: #36393F;
  border-radius: 5px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.single-chat-group {
  position: absolute;
  width: 477px;
  height: 61px;
  left: 14px;
  top: 15px;
}

.single-chat-group-frame {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 13px;

  position: relative;
  width: 477px;
  height: 61px;
  left: 14px;
  top: 15px;
}

.single-chat-user-image-container {
  /* Group 25 */
  width: 61px;
  height: 61px;


  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.single-chat-user-image {
  position: absolute;
  width: 61px;
  height: 61px;
  left: 0px;
  top: 0px;
  object-fit: cover;

  border-radius: 50%;
}

.single-chat-user-info-group {
  /* Auto layout */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;

  width: 403px;
  height: 57px;
}

.single-chat-user-name {
  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;

  width: 403px;
  height: 22px;


  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.single-chat-last-message-group {
  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 7px;

  width: 100%;
  height: 27px;


  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.single-chat-last-message {
  width: 80%;
  height: 24px;

  /* Paragraf/1 */

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 153.02%;
  /* or 24px */


  /* Gray/4 */

  color: #919191;


  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.single-chat-last-message-owner {
  width: 89%;
  height: 24px;

  /* Paragraf/1 */

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 153.02%;
  /* or 24px */


  /* Gray/4 */

  color: #919191;


  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.single-chat-last-message-img {
  width: 27px;
  height: 27px;
  object-fit: cover;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;

  border-radius: 50%;
}

.single-chat-user-name-text {
  width: 319px;
  height: 22px;

  /* Paragraf/2 */

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */


  /* White */

  color: #FFFFFF;


  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.single-chat-unread-messages-count {
  width: 10%;
  height: 24px;

  /* Paragraf/1 */

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 153.02%;
  /* or 24px */


  /* Gray/4 */

  color: #919191;


  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;

  background: #39456C;
  border-radius: 10px;

  text-align: center;
}

.single-chat-user-message-date {
  width: 76px;
  height: 21px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 153.02%;
  /* or 21px */


  /* Gray/4 */

  color: #919191;


  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}