

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.App {
    width: 800px;
 
}

.post {
    display: flex;
    height: auto;
    padding: 1px;
    border: 1px solid #444ebb;
    background: #36393F;
    margin-top: 1px;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
}
.comm {
    display: flex;
    height: auto;
    padding: 1px;
    border: 1px solid #444ebb;
    background: #4d56cf;
    margin-top: 1px;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
}
.post_date {
    
    padding: 10px;
    width: 380px;
height: auto;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 170.02%;
color: #919191;
flex: none;
order: 2;
flex-grow: 1;
align-items:flex-end;


}

.post__btns {
    display: flex;
    
}

.post-enter {
    transform: translateX(-350px);
}
.post-enter-active {
    transform: translateX(0px);
    transition: all 500ms ease-in;
}
.post-exit {
    opacity: 1;
}
.post-exit-active {
    transform: translateX(-350px);
    transition: all 500ms ease-in;
}

.page__wrapper {
    margin-top: 30px;
    display: flex;
}

.page {
    padding: 10px;
    border: 1px solid rgb(4, 65, 65);
    cursor: pointer;
}

.page__current {
    border: 2px solid orange;
    font-weight: bold;
}

.navbar {
    height: 50px;
    width: 100vw;
    display: flex;
    align-items: center;
    padding: 0 15px;
    background: lightgray;
}

.navbar__links {
    margin-left: auto;
}
.reactionBlock{
    display: flex;
}
.reactionImg {
    display: flex;
    width: 20px;
    height: 20px;
    margin: 8px;
    cursor: pointer;
}
.reactionImgSvg {
    width: 100%;
    height: 100%;
}
.reactionPart{
    display: flex;
    padding: 0 16px;
}
.reactionCount {
    color: #ffffff;
    display: flex;
    height: 24px;
    margin: 8px 0;
}

