.profile-main-content-container{
    width: 60%;
}

.profile-not-found-container{
    padding: 1.5em;
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    background-color: #2f3136;
}
.profile-not-found-container img{
    width: 100%;
}
.profile-button-send-message{
    margin-top: 2em;
}

/* .profile-panel{
    background-color: #2f3136;
    padding: 1.5em;
    border-radius: 0.5em;
    overflow: hidden;
} */
.post-user-info-container{
    display: flex;
}
.post-user-info-avatar{
    width: 4em;
    height: 4em;
    min-width: 4em;
    min-height: 4em;
    border-radius: 4em;
    overflow: hidden;
    margin-right: 1em;
}
.post-user-info-avatar img{
    width:100%;
    height:100%;
    object-fit: cover;
}
/* .profile-user-info-data{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.profile-user-info-data h3{
    margin: 0;
}
.profile-user-info-data button{
    margin-top: 1em;
}
.profile-user-info-data-location-container{
    display: flex;
    align-items: center;
}
.profile-user-info-data-location-container img{
    width: 1em;
    margin-right: 0.5em;
    content: url("../images/profile/location.svg");
}

.profile-user-info-data-age-container{
    display: flex;
    align-items: center;
}
.profile-user-info-data-age-container img{
    width: 1em;

    margin-right: 0.5em;
    content: url("../images/profile/age.svg");
} */
.profile-user-info-buttons{
    display: flex;
    justify-content: end;
}
/* .profile-posts-friends-container{
    height: 100%;
    margin-top: 1em;
    display: flex;
} */
.profile-posts-container{
    padding: 0.5em;

    width: 100%;
}
/* .profile-friends-container{
    margin-left: 1em;
    padding: 0.5em;
    width: 35%;
} */
/* .profile-friends-container h3{
    margin: 0;
} */
.profile-friends-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.profile-friends-list{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;

}
/* friendComponent */
.profile-friends-list-item{
    font-size: medium;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5em;
}
.profile-friends-list-item label{
    font-size: small;
}
.profile-friends-list-item-avatar{
    overflow: hidden;
    width: 3.5em;
    height: 3.5em;
    border-radius: 100%;
}
.profile-friends-list-item-avatar img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* end friendComponent */
